<div id="<%= dom_id food %>">
  <p>
    <strong>Description:</strong>
    <%= food.description %>
  </p>

  <p>
    <strong>Dish:</strong>
    <%= food.dish %>
  </p>

  <p>
    <strong>Fruits:</strong>
    <%= food.fruits %>
  </p>

</div>
